Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :nickname
    = f.text_field :nickname, autofocus: true, autocomplete: "例）たろう"
    %br
  .field
    = f.label :fullname_kanji
    = f.text_field :fullname_kanji, autofocus: true, autocomplete: "例）山田太郎"
    %br
  .field
    = f.label :fullname_kana
    = f.text_field :fullname_kana, autofocus: true, autocomplete: "例）ヤマダタロウ"
    %br
  .field
    = f.label :birthday
    = f.text_field :birthday, autofocus: true, autocomplete: "例）2000/01/01"
    %br
  .field
    = f.label :tel_number
    = f.text_field :tel_number, autofocus: true, autocomplete: "例）000-0000-0000"
    %br
  .field
    = f.label :email
    = f.email_field :email, autofocus: true, autocomplete: "email"
    %br
  .field
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
      = f.password_field :password, autocomplete: "new-password"
    %br
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password"
    %br

  .actions
    = f.submit "Sign up"

= render "devise/shared/links"