= render "devise/shared/session_header"
.new-account
  .new-account__title
    %h2 本人情報登録
  .new-account__container
    = form_for @user, url: step2_signup_index_path, method: :get do |f|
      .new-account__container__item
        = f.label "ニックネーム", class: "new-account__container__item__label"
        = f.text_field :nickname, autofocus: true, autocomplete: "例）たろう", class: "new-account__container__item__input-text"
      .new-account__container__item
        = f.label "名前（漢字）", class: "new-account__container__item__label"
        = f.text_field :fullname_kanji, autofocus: true, autocomplete: "例）山田太郎", class: "new-account__container__item__input-text"
        %br
      .new-account__container__item
        = f.label "名前（カナ）", class: "new-account__container__item__label"
        = f.text_field :fullname_kana, autofocus: true, autocomplete: "例）ヤマダタロウ", class: "new-account__container__item__input-text"
        %br
      .new-account__container__item
        = f.label "誕生日", class: "new-account__container__item__label"
        != sprintf(f.date_select(:birthday, prefix:'birthday',  prompt:"--", use_month_numbers:true, with_css_classes: true, start_year:2019, end_year:1900, date_separator:'%s'),'年','月')+'日'
        %br
      .new-account__container__item
        = f.label "メールアドレス", class: "new-account__container__item__label"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "new-account__container__item__input-text"
        %br
      .new-account__container__item
        = f.label "パスワード", class: "new-account__container__item__label"
        = f.password_field :password, autocomplete: "new-password", class: "new-account__container__item__input-text"
        %br
      .new-account__container__item
        = f.label "パスワード（確認用）", class: "new-account__container__item__label"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "new-account__container__item__input-text"
        %br

      .new-account__container__submit
        = f.submit "次へ進む", class: "btn"
