.new-conteiner
  = render 'shared/sub_header'
  .purchase-conteiner
    .purchase-conteiner__box
      %h2.purchase-conteiner__box__purchase-message
        購入が完了しました！
      .purchase-conteiner__box__purchase-image
        .purchase-conteiner__box__purchase-image__box
          = image_tag(@image[0].image.url, id: "product_image", class: "purchase-conteiner__box__purchase-image__box__image-top")
        .purchase-conteiner__box__purchase-image__text
          = @product.title
        .purchase-conteiner__box__purchase-image__price
          = "¥ #{@product.price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')}"
          -# = @freight
      .purchase-conteiner__box__delivery-message
        .purchase-conteiner__box__delivery-message__main-message
          発送をお待ちください
        .purchase-conteiner__box__delivery-message__sub-message
          出品者からの連絡をお待ちください

      .purchase-conteiner__box__back-root
        = link_to root_path , class: "font-color-black" do
          トップに戻る

  = render 'shared/sub_footer'