= form_for product do |f|
  .exhibit-wrapper
    .exhibit-wrapper__main
      .exhibit-wrapper__main__header
        %h3 商品の情報を入力
      .exhibit-wrapper__main__image
        %label
          出品画像
          %span 必須
          ※最大10枚までアップロードできます
        .exhibit-wrapper__main__image__cards{data:{exhibitid:0}}
          %label.exhibit-wrapper__main__image__drag-wrapper
            .exhibit-wrapper__main__image__drag
              %p クリックしてファイルをアップロード
            -# - product.images.each_with_index do |image, j|
            -#   =image_tag image.image.to_s, class: "item-edit__image item-edit__image-#{j}"
            = f.fields_for :images do |i|
              =i.file_field :image, readonly: false, class: "exhibit-wrapper__main__image__drag__form"
              -# =i.check_box :_destroy, disabled: true, class: "exhibit-wrapper__main__image__drag__check-box"
            .exhibit-wrapper__main__image__cards_anchor
        .error-append__image
      .exhibit-wrapper__main__item
        .exhibit-wrapper__main__item__name
          %label 
            商品のオススメポイント
            %span 必須
          =f.text_area :title, maxlength: 200, class: "exhibit-wrapper__main__item__name__field", placeholder: "商品のオススメポイント（必須200文字まで）"
          .error-append__title
        .exhibit-wrapper__main__item__content
          %label 
            商品の説明
            %span 必須
          =f.text_area :text, maxlength: 1000, rows:"6", class: "exhibit-wrapper__main__item__content__area" , placeholder: "商品の説明（必須1,000文字以内）。"
          .error-append__detail
      .category
        .form__right
          .form-group
            .form-group__top
              %label
                カテゴリー
                %span 必須
            .listing-product-detail__category
              .select-wrap
                = f.select :categories, @category_parent_array, {}, {:name => 'product[categories][]', id: 'parent_category', class: 'select-default'}
      .price
        .sub-head
        .form__right
          %ul.sell-price
            %li.form-group
              .form-group__top
                .form-group__top__left
                  =f.label '価格'
                  %span 必須
                .form-group__top__right
                  = f.number_field :price, placeholder: '例) 300', class: 'form-group__top__right__input',id: 'price_calc'
                  .price-discription
                    販売価格(300〜9,999,999)
            %li.calculation
              .calculation__left 販売手数料(10%)
              .calculation__right
            %li.result
              .result__left 販売利益
              .result__right -

      .bottom 
        .bottom__p

        = f.hidden_field :saler_id, value: current_user.id
        = f.submit :"出品する", class: "btn-red btn-default"
        = link_to 'もどる', :back, class: "btn-gray btn-default"