= render 'shared/header'

.index-wrapper
  .index-wrapper__products-box
    - @products.each do |product|
      .product-card
        .product-card__product-image
          = link_to product_path(product.id), class: "" do
            = image_tag(product.images[0].image.url, class: "index-product-image")
        .product-card__container
          .product-card__container__product-title
            %span= product.title
          .product-card__container__product-description
            ¥#{product.price.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,')}